.container {
    display: inline-block;
    margin: 10px;
    /*background-color: beige;*/
    border-style: solid;
    width: 100px;
    height: 100px;
}
img {
    width:100%;
    height: 100%;
}